form * {
  display: block; }

output {
  display: block;
  outline: 1px dotted tan; }

textarea {
  display: block; }

b, strong, i {
  display: inline; }

  span{
      display: inline-block;
      width:1em;
      height:1em;
      background:magenta;
  }
